body {background-color: rgb(0, 191, 255);}

p {color:
	font-family "Lucida Console", Courier, monospace;
}
header {background-color: rgb(49, 87, 209);
	/* width: 800px;
	height: 74px; */
	margin-bottom: 21px;
}

nav {background-color: rgb(169, 241, 226);
	width: 200px;
	height: 300px;
	line-height: 3.0;
	float: left;
}
nav>h1{margin-left: 30px;
margin-bottom: 1px;
}

article {background-color: rgb(196, 93, 93);
	/* width: 1000px;*/
	margin-left: 210px;
	padding-left: 10px;
}

footer{
	background-color: silver;
	/* height: 250px;*/
}

ul {
	line-height: 10px;
}
button {
		right: 30px;
}
